<form name="form" #f="ngForm">
    <!---Giao diện popup-->
    <ng-container *ngIf="modelDesign.editWindowType===1">
        <div class="modal-header">
            <h4 class="modal-title text-uppercase">{{titleForm}}</h4>
            <a href="javascript:void(0)" class="close_modal" type="button" class="close" aria-label="Close"
                (click)="closeModal(false)">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
        <div class="modal-body padding-15">
            <ng-container *ngTemplateOutlet="tempContent"></ng-container>
        </div>

        <div class="modal-footer">
            <ng-container *ngTemplateOutlet="tempButton"></ng-container>
        </div>
    </ng-container>

    <!---Giao diện window-->
    <div class='content-wrapper' *ngIf="modelDesign.editWindowType !== 1">
        <section class="box">
            <header>
                <h2 class="title">{{titleForm}}</h2>
            </header>
            <div class="content-body">
                <ng-container *ngTemplateOutlet="tempContent"></ng-container>
            </div>
            <div class="content-body text-right">
                <ng-container *ngTemplateOutlet="tempButton"></ng-container>
            </div>
        </section>
    </div>

    <!--Nội dung biểu mẫu-->
    <ng-template #tempContent>
        <div class="row">
            <div *ngFor="let rowView of this.modelDesign.editDesigns" class="{{rowView.divEditWidth}}">
                <div class="form-group ">
                    <label class="form-label">{{rowView.displayName | translate}}
                        <span class='text-danger text-strong' *ngIf="rowView.editRequired">&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <!-- Text box -->
                        <ng-container *ngIf="rowView.editControlType===1">
                            <input type="text" class="form-control" [(ngModel)]="model[rowView.columnName]"
                                name="{{rowView.columnName}}" [required]="rowView.editRequired">
                        </ng-container>

                        <!-- Textarea -->
                        <ng-container *ngIf="rowView.editControlType===2">
                            <textarea type="text" class="form-control" [(ngModel)]="model[rowView.columnName]"
                                name="{{rowView.columnName}}" rows="3" [style.height.px]="rowView.controlHeight"
                                [required]="rowView.editRequired"></textarea>
                        </ng-container>

                        <!-- Check box -->
                        <ng-container *ngIf="rowView.editControlType===4">
                            <input type="checkbox" [(ngModel)]="model[rowView.columnName]" name="{{rowView.columnName}}"
                                style="height:20px; width:20px;" [required]="rowView.editRequired">
                        </ng-container>

                        <!-- Datetime -->
                        <ng-container *ngIf="rowView.editControlType===6">
                            <input class="form-control" [name]="rowView.columnName + 'V'"
                                [(ngModel)]="modelDateView[rowView.columnName + 'V']" ngbDatepicker
                                #dateFrom="ngbDatepicker" placeholder="dd/MM/yyyy"
                                (click)="dateFrom.toggle();$event.stopPropagation();"
                                placement="bottom-right" [required]="rowView.editRequired">
                        </ng-container>

                        <!-- Input number -->
                        <ng-container *ngIf="rowView.editControlType===7">
                            <input type="text" class="form-control none-spin" [(ngModel)]="model[rowView.columnName]"
                                [required]="rowView.editRequired" [ngModelOptions]="{updateOn: 'blur'}"
                                [value]="model[rowView.columnName] | ntsnumber" name="{{rowView.columnName}}">
                        </ng-container>

                        <!-- Select search -->
                        <ng-container *ngIf="rowView.editControlType===8">
                            <ng-select [items]="rowView.linkData" bindLabel="name" bindValue="id"
                                [required]="rowView.editRequired" [(ngModel)]="model[rowView.columnName]"
                                name="{{rowView.columnName}}">
                            </ng-select>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <!--Các button-->
    <ng-template #tempButton>
        <ng-container>
            <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="save()">
                <i class="fa fa-save"></i>&nbsp;
                <span>{{'SharedLabel.Save' | translate}}</span>
            </button>
        </ng-container>
        <button type="button" class="btn btn-danger" (click)="closeModal(false)">
            <i class="fa fa-power-off"></i> &nbsp;
            <span>
                {{'SharedLabel.Close' | translate}}
            </span>
        </button>
    </ng-template>
</form>