<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 ">
        <div class='card card-flush mb-5'>
            <div class="card-header">
                <div class="card-title d-flex flex-column">
                    Thống kê tình hình xử lý vi phạm của các đơn vị
                </div>
            </div>
            <div class="card-body p-5">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <ng-container *ngIf="chartDonViOptions && chartDonViOptions.series">
                            <apx-chart [series]="chartDonViOptions.series" [chart]="chartDonViOptions.chart"
                                [xaxis]="chartDonViOptions.xaxis" [plotOptions]="chartDonViOptions.plotOptions"
                                [legend]="chartDonViOptions.legend" [colors]="chartDonViOptions.colors"
                                [title]="chartDonViOptions.title" [dataLabels]="chartDonViOptions.dataLabels">
                            </apx-chart>
                        </ng-container>

                        <div id="kt_app_do-tuoi_scroll" class="scroll-y my-5 mx-3" data-kt-scroll="true"
                            data-kt-scroll-activate="true" data-kt-scroll-height="380px"
                            data-kt-scroll-wrappers="#kt_app_do-tuoi" data-kt-scroll-offset="5px"
                            data-kt-scroll-save-state="true">
                            <div class="table-responsive">
                                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                                    <thead>
                                        <tr class="fw-bolder text-muted">
                                            <th class="min-w-20px align-middle">#</th>
                                            <th class="min-w-140px align-middle">Tên đơn vị</th>
                                            <th class="min-w-140px align-middle" style="text-align: center;">Năm
                                                {{modelResult.namSoSanh}} <br> Vụ/Người</th>
                                            <th class="min-w-140px align-middle" style="text-align: center;"> Năm
                                                {{modelResult.namBaoCao}} <br> Vụ/Người</th>
                                            <th class="w-120px align-middle">Xu hướng <br> Vụ | Người</th>
                                            <th class="w-140px align-middle">Tỷ lệ</th>
                                        </tr>
                                    </thead>
                                    <tbody id="#kt_app_do-tuoi">
                                        @for (item of modelResult.listVuViecDonVi; track $index) {
                                        <tr>
                                            <td>
                                                <span class="text-muted fw-bold text-muted d-block fs-7">
                                                    {{item.index}}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-gray-900 fw-bolder d-block fs-6">
                                                    {{item.donVi}}
                                                </span>
                                            </td>
                                            <td style="text-align: center;">
                                                <span class="text-muted fw-bold text-muted d-block fs-7">
                                                    {{item.soVuSS}}/{{item.soNguoiVPSS}}
                                                </span>
                                            </td>
                                            <td style="text-align: center;">
                                                <span class="text-muted fw-bold text-muted d-block fs-7">
                                                    {{item.soVu}}/{{item.soNguoiVP}}
                                                </span>
                                            </td>
                                            <td class="text-end">
                                                <div class="d-flex">
                                                    <span class="text-muted fw-bold text-muted d-block fs-7">
                                                        @if(item.tangGiamVu>0)
                                                        {
                                                        <span class="badge badge-light-danger">
                                                            <i class="fa-solid fa-arrow-up text-danger"></i>
                                                            &nbsp;
                                                            {{item.tangGiamVu}}
                                                        </span>&nbsp;
                                                        }
                                                        @if(item.tangGiamVu<0) { <span
                                                            class="badge badge-light-success">
                                                            <i class="fa-solid fa-arrow-down text-success"></i>
                                                            &nbsp;
                                                            {{item.tangGiamVu * -1}}
                                                    </span> &nbsp;
                                                    }
                                                    @if(item.tangGiamVu===0)
                                                    {
                                                    <span class="badge badge-light-info">
                                                        <i class="fa-solid fa-arrows-left-right text-info"></i>
                                                        &nbsp;
                                                        {{item.tangGiamVu}}
                                                    </span> &nbsp;
                                                    }
                                                    </span>
                                                    <span class="text-muted fw-bold text-muted d-block fs-7">
                                                        @if(item.tangGiamNguoi>0)
                                                        {
                                                        <span class="badge badge-light-danger">
                                                            <i class="fa-solid fa-arrow-up text-danger"></i>
                                                            &nbsp;
                                                            {{item.tangGiamNguoi}}
                                                        </span>&nbsp;
                                                        }
                                                        @if(item.tangGiamNguoi<0) { <span
                                                            class="badge badge-light-success">
                                                            <i class="fa-solid fa-arrow-down text-success"></i>
                                                            &nbsp;
                                                            {{item.tangGiamNguoi * -1}}
                                                    </span> &nbsp;
                                                    }
                                                    @if(item.tangGiamNguoi===0)
                                                    {
                                                    <span class="badge badge-light-info">
                                                        <i class="fa-solid fa-arrows-left-right text-info"></i>
                                                        &nbsp;
                                                        {{item.tangGiamNguoi}}
                                                    </span> &nbsp;
                                                    }
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex flex-stack m1-2">
                                                    <span
                                                        [class]="'me-2 fs-8 fw-bold text-' + item.color">{{item.tyLe}}%
                                                    </span>

                                                </div>
                                                <div class="progress h-6px w-100">
                                                    <div [class]="'progress-bar bg-'+ item.color" role="progressbar"
                                                        [style.width]="item.tyLe + '%'"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>