app-user-create {
    .btn-upload {
        position: absolute;
        top: 95%;
        left: 65%;
        transform: translate(-20%, -90%);
        -ms-transform: translate(-15%, -90%);
        color: white;
        font-size: 16px;
        // padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 100px;
        text-align: center;
        height: 48px;
        width: 48px;
        background: linear-gradient(90deg, #00ebc1 0%, #04a3fc 100%);
    }

    .custom-control {
        -webkit-print-color-adjust: exact;
        display: block;
        margin-top: 1px;
        padding-left: 33px;
        position: relative;
        z-index: 1;
    }

    .e-headertext {
        color: black;
        text-align: center;
        border: black;
    }
    .custom-checkbox .custom-control-label::before {
        border-radius: 1rem;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        color: #fff;
        border-color: #839cb0;
        background-color: #ffffff;
    }

    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='green' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
    }
}
