app-trang-chu {
    .card-borderless {
        border: none;
        box-shadow: none;
    }

    .card.card-flush>.card-header {
        border-bottom: 0 !important;
        min-height: 50px;
        padding: 0 1.5rem;
    }
    .card.card-flush>.card-body {
        padding-top: 0px !important;
    }
}