<div class="modal-content rounded-4 shadow">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Quyết định xử phạt vi phạm hành chính</h1>
        <button type="button" class="btn-close" (click)="close(false)"></button>
    </div>
    <div class="modal-body padding-15">
        <form name="form" #f="ngForm">
            <div class="row">
                <div class="col-md-12 col-lg-12 py-5 px-5">
                    <h4 class="mb-3 text-danger text-center">QUYẾT ĐỊNH XỬ PHẠT VI PHẠM HÀNH CHÍNH</h4>
                    <form class="needs-validation" novalidate="">
                        <div class="row g-3">
                            <div class="col-sm-3">
                                <label class="form-label">Số quyết định <span
                                    class='text-danger text-strong'>&nbsp;*</span></label>
                                <input name="so" type="text" class="form-control" [(ngModel)]="model.so"
                                    autocomplete="off" required="">
                            </div>

                            <div class="col-sm-3">
                                <label class="form-label">Ngày ra quyết định <span
                                    class='text-danger text-strong'>&nbsp;*</span></label>
                                <ejs-datepicker [(value)]="model.ngayRaQD" [format]="'dd/MM/yyyy'" required></ejs-datepicker>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Căn cứ <span
                                    class='text-danger text-strong'>&nbsp;*</span></label>
                                <input type="text" name="canCu" class="form-control" [(ngModel)]="model.canCu"
                                    autocomplete="off" required="">
                            </div>

                            <div class="col-sm-12">
                                <label class="form-label text-danger">Xử phạt vi phạm hành chính đối với:
                                    &nbsp;</label>
                                <ng-container *ngIf="tongNguoiVP>0 && tongToChucVP>0">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="doiTuongViPhamOptions"
                                            id="doiTuongViPham1" [value]="0" [(ngModel)]="model.doiTuongViPham">
                                        <label class="form-label">Cá nhân</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="doiTuongViPhamOptions"
                                            id="doiTuongViPham2" [value]="1" [(ngModel)]="model.doiTuongViPham">
                                        <label class="form-label">Tổ chức</label>
                                    </div>
                                </ng-container>

                                <label class="form-label" *ngIf="tongNguoiVP>0 && tongToChucVP===0">Cá nhân</label>

                                <label class="form-label" *ngIf="tongNguoiVP===0 && tongToChucVP>0">Tổ chức</label>
                            </div>
                            <ng-container *ngIf="model.doiTuongViPham === 0">
                                <div class="col-sm-3">
                                    <label class="form-label">Họ và tên <span
                                        class='text-danger text-strong'>&nbsp;*</span></label>
                                    <ejs-dropdownlist id="idNguoiViPham" [(value)]="model.idNguoiViPham"
                                        [dataSource]="listNguoiVP" [fields]="{ text: 'hoVaTen', value: 'idNguoiVPHC' }"
                                        [showClearButton]="true" [allowFiltering]="false"
                                        (change)="onSelect($event, 'NguoiVP')" required>
                                    </ejs-dropdownlist>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Giới tính</label>
                                    <input type="text" name="tenGioiTinhNguoiVP" class="form-control"
                                        [(ngModel)]="model.tenGioiTinhNguoiVP" autocomplete="off" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Này, tháng, năm sinh</label>
                                    <input type="text" name="ngaySinhNguoiVP" class="form-control"
                                        value="{{model.ngaySinhNguoiVP | date:'dd/MM/YYYY'}}" autocomplete="off"
                                        readonly>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Quốc tịch</label>
                                    <input type="text" name="quocTichNguoiVP" class="form-control"
                                        [(ngModel)]="model.quocTichNguoiVP" autocomplete="off" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Nghề nghiệp</label>
                                    <input type="text" name="ngheNghiepNguoiVP" class="form-control"
                                        [(ngModel)]="model.ngheNghiepNguoiVP" autocomplete="off" readonly>
                                </div>
                                <div class="col-sm-9">
                                    <label class="form-label">Nơi ở hiện tại</label>
                                    <input type="text" name="noiONguoiVP" class="form-control"
                                        [(ngModel)]="model.noiONguoiVP" autocomplete="off" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Số ĐDCN/CMND/Hộ chiếu</label>
                                    <input type="text" name="soTheCCNguoiVP" class="form-control"
                                        [(ngModel)]="model.soTheCCNguoiVP" autocomplete="off" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Ngày cấp</label>
                                    <input type="text" name="ngayCapTheCCNguoiVP" class="form-control"
                                        value="{{model.ngayCapTheCCNguoiVP | date:'dd/MM/YYYY'}}" autocomplete="off"
                                        readonly>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label">Nơi cấp</label>
                                    <input type="text" name="noiCapTheCC" class="form-control"
                                        [(ngModel)]="model.noiCapTheCC" autocomplete="off" readonly>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="model.doiTuongViPham === 1">
                                <div class="col-sm-6">
                                    <label class="form-label">Tên tổ chức <span
                                        class='text-danger text-strong'>&nbsp;*</span></label>
                                    <ejs-dropdownlist id="idToChucViPham" [(value)]="model.idToChucViPham"
                                        [dataSource]="listToChucVP" [fields]="{ text: 'ten', value: 'idToChucVP' }"
                                        [showClearButton]="true" [allowFiltering]="false"
                                        (change)="onSelect($event, 'ToChucVP')" required>
                                    </ejs-dropdownlist>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label">Địa chỉ trụ sở chính</label>
                                    <input type="text" name="diaTrucSoToChucVP" class="form-control"
                                        [(ngModel)]="model.diaTrucSoToChucVP" autocomplete="off" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Mã số doanh nghiệp</label>
                                    <input type="text" name="maSoToChucVP" class="form-control"
                                        [(ngModel)]="model.maSoToChucVP" autocomplete="off" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Giấy đầu tư, giấy phép hoạt động</label>
                                    <input type="text" name="giayPhepToChucVP" class="form-control"
                                        [(ngModel)]="model.giayPhepToChucVP" autocomplete="off" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Ngày cấp</label>
                                    <input type="text" name="ngayCapGPToChucVP" class="form-control"
                                        value="{{model.ngayCapGPToChucVP | date:'dd/MM/YYYY'}}" autocomplete="off"
                                        readonly>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Nơi cấp</label>
                                    <input type="text" name="noiCapGPToChucVP" class="form-control"
                                        [(ngModel)]="model.noiCapGPToChucVP" autocomplete="off" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Người đại diện theo pháp luât</label>
                                    <input type="text" name="tenNguoiDDToChucVP" class="form-control"
                                        [(ngModel)]="model.tenNguoiDDToChucVP" autocomplete="off" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <label class="form-label">Giới tính</label>
                                    <input type="text" name="gioiTinhNguoiDDToChucVP" class="form-control"
                                        [(ngModel)]="model.gioiTinhNguoiDDToChucVP" autocomplete="off" readonly>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label">Chức danh</label>
                                    <input type="text" name="chucDanhNguoiDDToChucVP" class="form-control"
                                        [(ngModel)]="model.chucDanhNguoiDDToChucVP" autocomplete="off" readonly>
                                </div>
                            </ng-container>
                            <div class="col-sm-6">
                                <label class="form-label">Hành vi vi phạm hành chính <span
                                    class='text-danger text-strong'>&nbsp;*</span></label>
                                <textarea name="hanhViViPham" class="form-control" rows="4"
                                    [(ngModel)]="model.hanhViViPham" required=""></textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Quy định tại <span
                                    class='text-danger text-strong'>&nbsp;*</span></label>
                                <textarea name="quyDinhTai" class="form-control" rows="4"
                                    [(ngModel)]="model.quyDinhTai" required=""></textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Tình tiết tăng nặng (nếu có)</label>
                                <textarea name="tinhTietTangNang" class="form-control" rows="2"
                                    [(ngModel)]="model.tinhTietTangNang"></textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Các tình tiết giảm nhẹ (nếu có)</label>
                                <textarea name="tinhTietGiamNhe" class="form-control" rows="2"
                                    [(ngModel)]="model.tinhTietGiamNhe"></textarea>
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label">Hình thức xử phạt chính <span
                                    class='text-danger text-strong'>&nbsp;*</span></label>
                                <ejs-dropdownlist id="phatChinh" [(value)]="model.phatChinh" required
                                    [dataSource]="listPhatChinh" [fields]="fields" [showClearButton]="true"
                                    [allowFiltering]="false" (change)="onSelect($event, 'PhatChinh')">
                                </ejs-dropdownlist>
                            </div>
                            <ng-container *ngIf="model.phatChinh==='HTP001' || model.phatChinh==='HTP002'">
                                <div class="col-sm-3">
                                    <label class="form-label">Mức phạt (đồng)</label>
                                    <input type="text" name="mucPhat" class="form-control" [(ngModel)]="model.mucPhat"
                                        autocomplete="off" appCurrencyFormatter>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label"></label>
                                    <span class="form-control text-danger mt-2 border-0" *ngIf="model.mucPhat>=0"> {{model.mucPhat |
                                        amountToText }}</span>
                                </div>
                            </ng-container>
                            <div class="col-sm-9" *ngIf="model.phatChinh!=='HTP001' && model.phatChinh!=='HTP002'">
                                <label class="form-label">Cụ thể</label>
                                <input type="text" name="cuThePC" class="form-control" [(ngModel)]="model.cuThePC"
                                    autocomplete="off">
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label">Hình thức xử phạt bổ sung</label>
                                <ejs-dropdownlist id="phatBoSung" [(value)]="model.phatBoSung"
                                    [dataSource]="listPhatBoSung" [fields]="fields" [showClearButton]="true"
                                    [allowFiltering]="false" (change)="onSelect($event, 'PhatBoSung')">
                                </ejs-dropdownlist>
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label">Cụ thể</label>
                                <input type="text" name="cuThePBS" class="form-control" [(ngModel)]="model.cuThePBS"
                                    autocomplete="off">
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Thời hạn thực hiện hình thức phạt bổ sung</label>
                                <div class="input-group">
                                    <input type="number" name="soNgayThucHienPBS" class="form-control mx-1 rounded"
                                        [(ngModel)]="model.soNgayThucHienPBS" autocomplete="off">
                                    <span class="form-control border-0"> ngày kể từ khi nhận
                                        quyết định</span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label">Biện pháp khắc phục hậu quả</label>
                                <input type="text" name="khacPhucHauQua" class="form-control"
                                    [(ngModel)]="model.khacPhucHauQua" autocomplete="off">
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label">Cụ thể</label>
                                <input type="text" name="cuTheKPHQ" class="form-control" [(ngModel)]="model.cuTheKPHQ"
                                    autocomplete="off">
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Thời hạn thực hiện khắc phục hậu quả</label>
                                <div class="input-group">
                                    <input type="number" name="soNgayThucHienKPHQ" class="form-control mx-1 rounded"
                                        [(ngModel)]="model.soNgayThucHienKPHQ" autocomplete="off">
                                    <span class="form-control border-0"> ngày kể từ khi nhận
                                        quyết định</span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="form-label">Nội dung trực tiếp liên quan dến việc thực hiện biện pháp khắc
                                    phục hậu quả (nếu có)</label>
                                <textarea name="noiDungLienQuanKPHQ" class="form-control" rows="3"
                                    [(ngModel)]="model.noiDungLienQuanKPHQ"></textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Tổng chi phí thi hành biện pháp khắc phục hậu quả
                                    (đồng)</label>
                                <div class="input-group">
                                    <input type="text" name="chiPhiKPHQ" class="form-control mx-1 rounded"
                                        [(ngModel)]="model.chiPhiKPHQ" autocomplete="off" appCurrencyFormatter>
                                    <span class="form-control border-0" *ngIf="model.chiPhiKPHQ>=0"> {{model.chiPhiKPHQ
                                        | amountToText}}</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Cơ quan thực hiện biện pháp khắc phục hậu quả</label>
                                <input type="text" name="coQuanThucHienKPHC" class="form-control"
                                    [(ngModel)]="model.coQuanThucHienKPHC" autocomplete="off">
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label">Quyết định có hiệu lực kể từ ngày <span
                                    class='text-danger text-strong'>&nbsp;*</span></label>
                                <ejs-datepicker [(value)]="model.ngayQDCoHieuLuc"
                                    [format]="'dd/MM/yyyy'"></ejs-datepicker>
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label">Thời hạn nộp phạt</label>
                                <input type="number" name="hanNopPhat" class="form-control" [(ngModel)]="model.hanNopPhat"
                                    autocomplete="off">
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label"></label>
                                <span class="form-control border-0">ngày, kể từ ngày nhận quyết định này</span>
                            </div>

                            <div class="col-sm-6">
                                <label class="form-label">Địa điểm nộp phạt tại</label>
                                <input type="text" name="diaDiemNopPhat" class="form-control"
                                    [(ngModel)]="model.diaDiemNopPhat" autocomplete="off">
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Đơn vị thu tiền phạt</label>
                                <input type="text" name="donViThuTienPhat" class="form-control"
                                    [(ngModel)]="model.donViThuTienPhat" autocomplete="off">
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Đơn vị thực hiện</label>
                                <input type="text" name="donViThucHien" class="form-control"
                                    [(ngModel)]="model.donViThucHien" autocomplete="off">
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Đơn vị phối hợp thực hiện</label>
                                <input type="text" name="donViPhoiHop" class="form-control"
                                    [(ngModel)]="model.donViPhoiHop" autocomplete="off">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <ng-container>
            <button type="button" *appUipermission="['F0111','F0112']" class="btn btn-success"
                [disabled]="!f.form.valid" (click)="save()">
                <i class="fa fa-save"></i>&nbsp;
                <span>Lập quyết định</span>
            </button>
        </ng-container>
        <button type="button" class="btn btn-danger" (click)="close(false)">
            <i class="fa fa-power-off"></i> &nbsp;
            <span translate="SharedLabel.Close"></span>
        </button>
    </div>
</div>