<div class="card">
    <div class="card-body">
        <div class="col-md-12 col-lg-12 py-5 px-5">
            <!-- <h5 class="mb-3 text-danger text-center">THÔNG TIN XỬ LÝ VI PHẠM HÀNH CHÍNH</h5> -->
            <div class="row g-3">
                <div class="col-sm-3">
                    <label class="form-label">Số quyết định ban hành</label>
                    <input type="text" class="form-control" [(ngModel)]="model.soQuyetDinhBanHanh">
                </div>

                <div class="col-sm-3">
                    <label class="form-label">Đơn vị xử lý <span class='text-danger text-strong'>&nbsp;*</span></label>
                    <ejs-dropdownlist id="tinhTP" [dataSource]="listDonVi" [fields]="fields" [(value)]="model.idDonVi"
                        filterType="Contains" [allowFiltering]="true" [showClearButton]="true" required
                        [enabled]="false">
                    </ejs-dropdownlist>
                </div>

                <div class="col-sm-6">
                    <label class="form-label">Thời gian thực hiện kế hoạch <span
                            class='text-danger text-strong'>&nbsp;*</span></label>
                    <div class="row">
                        <div class="col-sm-6">
                            <ejs-datepicker [(value)]="model.tuNgayThucHienKeHoach" [format]="'dd/MM/yyyy'"
                                placeholder="Từ ngày" required></ejs-datepicker>
                        </div>
                        <div class="col-sm-6">
                            <ejs-datepicker [(value)]="model.denNgayThucHienKeHoach" [format]="'dd/MM/yyyy'"
                                placeholder="Đến ngày" required></ejs-datepicker>
                        </div>
                    </div>
                </div>


                <hr class="mt-5" />
                <h5 class="text-danger text-left">THÔNG TIN CĂN CỨ, MỤC ĐÍCH, YÊU CẦU</h5>

                <div class="col-sm-12">
                    <label class="form-label">Căn cứ <span class='text-danger text-strong'>&nbsp;*</span></label>
                    <textarea name="canCu" class="form-control" rows="1" [(ngModel)]="model.canCu" required></textarea>
                </div>

                <div class="col-sm-12">
                    <label class="form-label">Mục đích <span class='text-danger text-strong'>&nbsp;*</span></label>
                    <textarea name="mucDich" class="form-control" rows="1" [(ngModel)]="model.mucDich"></textarea>
                </div>

                <div class="col-sm-12">
                    <label class="form-label">Yêu cầu <span class='text-danger text-strong'>&nbsp;*</span></label>
                    <textarea name="yeuCau" class="form-control" rows="1" [(ngModel)]="model.yeuCau"></textarea>
                </div>

                <hr class="mt-5" />
                <h5 class="text-danger text-left">THÔNG TIN NỘI DUNG VÀ ĐỊA BÀN KIỂM TRA</h5>

                <div class="col-sm-12">
                    <label class="form-label">Nội dung kiểm tra <span
                            class='text-danger text-strong'>&nbsp;*</span></label>
                    <textarea name="noiDungKiemTra" class="form-control" rows="3"
                        [(ngModel)]="model.noiDungKiemTra"></textarea>
                </div>

                <ejs-uploader #uploader [autoUpload]="false" [allowedExtensions]="'.pdf'">
                </ejs-uploader>
                <!-- <button class="btn btn-primary" (click)="upload()">Upload</button> -->

                <!-- 
                <div class="col-sm-12">
                    <label class="form-label">Địa bàn thưc hiện kiểm tra theo kế hoạch <span
                            class='text-danger text-strong'>&nbsp;*</span></label>
                    <textarea name="diaBanKiemTraTheoKeHoach" class="form-control" rows="1"
                        [(ngModel)]="model.diaBanKiemTraTheoKeHoach"></textarea>
                </div>

                <hr class="mt-5" /> -->
                <!-- <h5 class="text-danger text-left">PHÂN CÔNG THỰC HIỆN KẾ HOẠCH</h5>

                <div class="col-sm-12">
                    <label class="form-label">Thành phần lực lượng kiểm tra <span
                            class='text-danger text-strong'>&nbsp;*</span></label>
                    <textarea name="thanhPhanLucLuongKiemTra" class="form-control" rows="1"
                        [(ngModel)]="model.thanhPhanLucLuongKiemTra"></textarea>
                </div>

                <div class="col-sm-12">
                    <label class="form-label">Phân công nhiệm vụ <span
                            class='text-danger text-strong'>&nbsp;*</span></label>
                    <textarea name="phanCongNhiemVu" class="form-control" rows="1"
                        [(ngModel)]="model.phanCongNhiemVu"></textarea>
                </div>

                <div class="col-sm-12">
                    <label class="form-label">Kinh phí, phương tiện và các điều kiện khác phục vụ kiểm tra <span
                            class='text-danger text-strong'>&nbsp;*</span></label>
                    <textarea name="dieuKienPhucVuKiemTra" class="form-control" rows="1"
                        [(ngModel)]="model.dieuKienPhucVuKiemTra"></textarea>
                </div> -->

                <!-- <hr class="mt-5" />
                <h5 class="text-danger text-left">CHẾ ĐỘ BÁO CÁO</h5>

                <div class="col-sm-12">
                    <label class="form-label">Chế độ báo cáo <span
                            class='text-danger text-strong'>&nbsp;*</span></label>
                    <textarea name="cheDoBaoCao" class="form-control" rows="1"
                        [(ngModel)]="model.cheDoBaoCao"></textarea>
                </div> -->

            </div>
        </div>
    </div>

    <div class="card-footer d-flex justify-content-between align-items-center py-5 px-5">
        <div class="align-items-start flex-column">
            <span class="card-label fw-bolder text-gray-600 fs-3" *ngIf="model.maHoSo">Mã hồ sơ: <b
                    class="text-danger">{{model.maHoSo}}</b></span>
        </div>
        <div class="flex-column align-items-end">
            <!-- <ng-container *ngIf="!id">
                <button type="button" *appUipermission="['F0102']" class="btn btn-success me-2" (click)="save(true)">
                    <i class="far fa-save"></i>&nbsp; Lưu và tiếp tục xử lý
                </button>
            </ng-container> -->
            <ng-container>
                <button type="button" *appUipermission="['F0101']" class="btn btn-primary me-2" (click)="save()">
                    <i class="fas fa-save"></i>&nbsp; Lưu
                </button>
            </ng-container>
            <ng-container>
                <button type="button" *appUipermission="['F0101']" class="btn btn-primary me-2" (click)="save()">
                    <i class="fas fa-level-up-alt"></i>&nbsp; Gửi lên tổng cục trưởng
                </button>
            </ng-container>
            <ng-container>
                <button type="button" *appUipermission="['F0101']" class="btn btn-primary me-2" (click)="save()">
                    <i class="fas fa-eye"></i>&nbsp; Xem trước
                </button>
            </ng-container>
            <ng-container>
                <button type="button" *appUipermission="['F0101']" class="btn btn-primary me-2" (click)="save()">
                    <i class="fas fa-refresh"></i>&nbsp; Làm mới
                </button>
            </ng-container>
            <ng-container>
                <button type="button" *appUipermission="['F0101']" class="btn btn-secondary me-2" (click)="close()">
                    <i class="far fa-times-circle"></i>&nbsp; Thoát
                </button>
            </ng-container>
        </div>
    </div>
</div>