<div class="card">
    <div class="card-body">
        <div class="col-md-12 col-lg-12 py-5 px-5">
            <!-- <h5 class="mb-3 text-danger text-center">THÔNG TIN XỬ LÝ VI PHẠM HÀNH CHÍNH</h5> -->
            <div class="row g-3">
                <div class="col-sm-3">
                    <label class="form-label">Số quyết định ban hành</label>
                    <input type="text" class="form-control" [(ngModel)]="model.soQuyetDinhBanHanh">
                </div>

                <div class="col-sm-3">
                    <label class="form-label">Đơn vị xử lý <span class='text-danger text-strong'>&nbsp;*</span></label>
                    <ejs-dropdownlist id="tinhTP" [dataSource]="listDonVi" [fields]="fields" [(value)]="model.idDonVi"
                        filterType="Contains" [allowFiltering]="true" [showClearButton]="true" required
                        [enabled]="false">
                    </ejs-dropdownlist>
                </div>

                <div class="col-sm-6">
                    <label class="form-label">Thời gian thực hiện kế hoạch <span
                            class='text-danger text-strong'>&nbsp;*</span></label>
                    <div class="row">
                        <div class="col-sm-6">
                            <ejs-datepicker [(value)]="model.tuNgayThucHienKeHoach" [format]="'dd/MM/yyyy'"
                                placeholder="Từ ngày" required></ejs-datepicker>
                        </div>
                        <div class="col-sm-6">
                            <ejs-datepicker [(value)]="model.denNgayThucHienKeHoach" [format]="'dd/MM/yyyy'"
                                placeholder="Đến ngày" required></ejs-datepicker>
                        </div>
                    </div>
                </div>


                <hr class="mt-5" />
                <h5 class="text-danger text-left">THÔNG TIN CĂN CỨ, MỤC ĐÍCH, YÊU CẦU</h5>

                <div class="col-sm-12">
                    <label class="form-label">Căn cứ <span class='text-danger text-strong'>&nbsp;*</span></label>
                    <textarea name="canCu" class="form-control" rows="1" [(ngModel)]="model.canCu" required></textarea>
                </div>

                <div class="col-sm-12">
                    <label class="form-label">Mục đích <span class='text-danger text-strong'>&nbsp;*</span></label>
                    <textarea name="mucDich" class="form-control" rows="1" [(ngModel)]="model.mucDich"></textarea>
                </div>

                <div class="col-sm-12">
                    <label class="form-label">Yêu cầu <span class='text-danger text-strong'>&nbsp;*</span></label>
                    <textarea name="yeuCau" class="form-control" rows="1" [(ngModel)]="model.yeuCau"></textarea>
                </div>

                <hr class="mt-5" />
                <h5 class="text-danger text-left">THÔNG TIN NỘI DUNG VÀ ĐỊA BÀN KIỂM TRA</h5>

                <div class="col-sm-12">
                    <label class="form-label">Nội dung kiểm tra <span
                            class='text-danger text-strong'>&nbsp;*</span></label>
                    <textarea name="noiDungKiemTra" class="form-control" rows="3"
                        [(ngModel)]="model.noiDungKiemTra"></textarea>
                </div>
                <!-- Upload chờ duyệt-->
                <ng-container *ngIf="model.trangThaiKeHoachKiemTra == 1">

                    <ng-container>
                        <button style="width: 126px;" *appUipermission="['F0131','F0132']"
                            class="btn btn-success btn-upload" (click)="fileInput.click();">
                            <i class="fas fa-paperclip"></i> &nbsp; {{'File.ChooseFile'|translate}}</button>
                        <input multiple name="fileimportmaterial" accept=".pdf,.doc,.docx" style="display: none;"
                            type="file" id="fileInput" accept=".jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx,.pdf" #fileInput
                            (change)="handleFileInput($event)" />
                    </ng-container>

                    <hr />

                    <div *ngIf="uploadedFiles.length">
                        <div *ngFor="let file of uploadedFiles; let i = index" class="d-flex align-items-center mb-2">

                            <i class="fa me-2" [ngClass]="{
                    'fa-file-pdf-o text-danger': file.extension === '.pdf',
                    'fa-file-word-o text-primary': file.extension === '.docx'
                }">
                            </i>

                            <a href="javascript:void(0)" (click)="download(file)">
                                {{ file.fileName }}
                            </a>

                            <small class="text-muted ms-2">
                                ({{ file.fileSize / 1024 | number:'1.0-0' }} KB)
                            </small>
                            <!-- nút X -->
                            <i class="fa fa-times text-danger ms-3 cursor-pointer" title="Xóa file"
                                (click)="removeFile(file, i)">
                            </i>
                        </div>
                    </div>
                </ng-container>



                <!-- upload file đã duyệt -->
                <ng-container *ngIf="model.trangThaiKeHoachKiemTra == 3">

                    <ng-container>
                        <button style="width: 126px;" *appUipermission="['F0131','F0132']"
                            class="btn btn-success btn-upload" (click)="fileInputDaDuyet.click();">
                            <i class="fas fa-paperclip"></i> &nbsp; {{'File.ChooseFile'|translate}}</button>
                        <input multiple name="fileimportmaterial" accept=".pdf,.doc,.docx" style="display: none;"
                            type="file" id="fileInputDaDuyet" accept=".jpg,.jpeg,.png,.doc,.docx,.xls,.xlsx,.pdf"
                            #fileInputDaDuyet (change)="handleFileInputDaDuyet($event)" />
                    </ng-container>
                    <hr />

                    <div *ngIf="uploadedFilesDaDuyet.length">
                        <div *ngFor="let file of uploadedFilesDaDuyet; let i = index"
                            class="d-flex align-items-center mb-2">

                            <i class="fa me-2" [ngClass]="{
                    'fa-file-pdf-o text-danger': file.extension === '.pdf',
                    'fa-file-word-o text-primary': file.extension === '.docx'
                }">
                            </i>

                            <a href="javascript:void(0)" (click)="download(file)">
                                {{ file.fileName }}
                            </a>

                            <small class="text-muted ms-2">
                                ({{ file.fileSize / 1024 | number:'1.0-0' }} KB)
                            </small>
                            <!-- nút X -->
                            <i class="fa fa-times text-danger ms-3 cursor-pointer" title="Xóa file"
                                (click)="removeFileDaDuyet(file, i)">
                            </i>
                        </div>
                    </div>
                </ng-container>



            </div>
        </div>
    </div>

    <div class="card-footer d-flex justify-content-between align-items-center py-5 px-5">
        <div class="status-box" [ngClass]="{
       'status-draft': trangThaiKeHoach === 1,
       'status-approved': trangThaiKeHoach === 2,
       'status-reject': trangThaiKeHoach === 3
     }">
            {{ trangThaiKeHoach === 1 ? 'Soạn thảo'
            : trangThaiKeHoach === 2 ? 'Đã duyệt'
            : 'Yêu cầu chỉnh sửa' }}
        </div>

        <div class="flex-column align-items-end">
            <ng-container *ngIf="!id">
                <button type="button" *appUipermission="['F0102']" class="btn btn-success me-2" (click)="save(true)">
                    <i class="far fa-save"></i>&nbsp; Lưu và tiếp tục xử lý
                </button>
            </ng-container>
            <ng-container>
                <button type="button" *appUipermission="['F0101']" class="btn btn-primary me-2" (click)="save()">
                    <i class="fas fa-save"></i>&nbsp; Lưu
                </button>
            </ng-container>
            <ng-container>
                <button [disabled]="model.trangThaiKeHoachKiemTra == 3" type="button" *appUipermission="['F0101']"
                    class="btn btn-primary me-2" (click)="updateApproved()">
                    <i class="fas fa-check-circle"></i>&nbsp; Duyệt kế hoạch
                </button>
            </ng-container>
            <ng-container>
                <button [disabled]="model.trangThaiKeHoachKiemTra == 3" type="button" *appUipermission="['F0101']"
                    class="btn btn-primary me-2" (click)="resetForm()">
                    <i class="fas fa-refresh"></i>&nbsp; Làm mới
                </button>
            </ng-container>
            <ng-container>
                <button type="button" *appUipermission="['F0101']" class="btn btn-secondary me-2" (click)="close()">
                    <i class="far fa-times-circle"></i>&nbsp; Thoát
                </button>
            </ng-container>
        </div>
    </div>
</div>