#container {
    visibility: hidden;
}

#loader {
    color: rgb(0, 140, 255);
    height: 40px;
    width: 30%;
    position: absolute;
    top: 45%;
    left: 45%;
}
.permission{
    color: rgb(81, 81, 218);
    cursor: pointer;
}