<div class="card">
    <div class="card-body">
        <ejs-tab #tabVuViec id="tabVuViec" (selected)="onTabSelecting($event)">
            <e-tabitems>
                <e-tabitem>
                    <ng-template #headerText>
                        <div><i class="fas fa-file-invoice"></i> Tiếp nhận, phát hiện </div>
                    </ng-template>
                    <ng-template #content>
                        <form novalidate="" class="form" autocomplete="off" name="form" #f="ngForm">
                            <div class="col-md-12 col-lg-12 py-5 px-5">
                                <h4 class="mb-3 text-danger text-center">THÔNG TIN XỬ LÝ VI PHẠM HÀNH CHÍNH</h4>
                                <div class="row g-3">
                                    <div class="col-sm-3">
                                        <label class="form-label">Nguồn phát hiện <span
                                                class='text-danger text-strong'>&nbsp;*</span></label>
                                        <ejs-dropdownlist id="nguonPhatHien" [(value)]="model.idNguonPhatHien"
                                            [dataSource]="listNguonTin" [fields]="fields" [showClearButton]="true"
                                            [allowFiltering]="false" required>
                                        </ejs-dropdownlist>
                                    </div>

                                    <div class="col-sm-3">
                                        <label class="form-label">Đơn vị xử lý <span
                                                class='text-danger text-strong'>&nbsp;*</span></label>
                                        <ejs-dropdownlist id="tinhTP" [dataSource]="listDonVi" [fields]="fields"
                                            [(value)]="model.idDonVi" filterType="Contains" [allowFiltering]="true"
                                            [showClearButton]="true" required [enabled]="false">
                                        </ejs-dropdownlist>
                                    </div>

                                    <div class="col-sm-3">
                                        <label class="form-label">Thời gian tiếp nhận <span
                                                class='text-danger text-strong'>&nbsp;*</span></label>
                                        <ejs-datepicker [(value)]="model.thoiGianTiepNhan" [format]="'dd/MM/yyyy'"
                                            required></ejs-datepicker>
                                    </div>

                                    <div class="col-sm-3">
                                        <label class="form-label">Thời gian cập nhật</label>
                                        <input type="text" class="form-control"
                                            [value]="model.updateDate | date: 'dd/MM/yyyy'">
                                    </div>

                                    <div class="col-sm-6">
                                        <label class="form-label">Tóm tắt diễn biến <span
                                                class='text-danger text-strong'>&nbsp;*</span></label>
                                        <textarea name="dienBien" class="form-control" rows="5"
                                            [(ngModel)]="model.dienBien" required></textarea>
                                    </div>

                                    <div class="col-sm-6">
                                        <label class="form-label">Ghi chú</label>
                                        <textarea name="ghiChu" class="form-control" rows="5"
                                            [(ngModel)]="model.ghiChu"></textarea>
                                    </div>

                                    <div class="col-sm-12">
                                        <label class="form-label">Địa điểm phát hiện vi phạm</label>&nbsp;
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio1" [value]="0" [(ngModel)]="model.loaiDiaDiem">
                                            <label class="form-label">Trên đất liền</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio2" [value]="1" [(ngModel)]="model.loaiDiaDiem">
                                            <label class="form-label">Trên biển</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Tỉnh/ Thành phố <span
                                                    class='text-danger text-strong'>&nbsp;*</span></label>
                                            <ejs-dropdownlist id="tinhTP" [dataSource]="listTinh" [fields]="fields"
                                                [(value)]="model.idTinhPhatHien" filterType="Contains"
                                                [showClearButton]="true" [allowFiltering]="true"
                                                (change)="onSelect_Tinh($event)" required>
                                            </ejs-dropdownlist>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Quận/ Huyện <span
                                                    class='text-danger text-strong'>&nbsp;*</span></label>
                                            <ejs-dropdownlist id="quanHuyen" [dataSource]="listHuyen" [fields]="fields"
                                                [(value)]="model.idHuyenPhatHien" filterType="Contains"
                                                [showClearButton]="true" [allowFiltering]="true"
                                                (change)="onSelect_Huyen($event)" required>
                                            </ejs-dropdownlist>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="mb-3">
                                            <label class="form-label">Xã/ Phường</label>
                                            <ejs-dropdownlist id="xaPhuong" [dataSource]="listXa" [fields]="fields"
                                                [(value)]="model.idXaPhatHien" filterType="Contains"
                                                [showClearButton]="true" [allowFiltering]="true"
                                                (change)="onSelect_Xa($event)">
                                            </ejs-dropdownlist>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label class="form-label">Địa chỉ chi tiết/ Tọa độ</label>
                                        <input name="diaChiChiTiet" type="text" class="form-control"
                                            [(ngModel)]="model.diaChiChiTiet">
                                    </div>
                                </div>

                                <div class="col-sm-12 mt-5">
                                    <div class="d-flex align-items-center mb-5 bg-light-dark">
                                        <span class="bullet bullet-vertical h-40px bg-dark"></span>
                                        <div class="flex-grow-1 px-5">
                                            <span class="text-gray-800 fw-bolder fs-6">
                                                Lựa chọn thêm mới: </span>
                                        </div>
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-light-success fs-6" data-bs-toggle="tooltip"
                                                data-bs-placement="top" data-bs-trigger="hover"
                                                title="Kích vào thêm mới người vi phạm"
                                                (click)="openModalNguoiViPham()">
                                                <i class="fa fa-plus"></i> Người vi phạm </button>
                                            <button class="btn btn-sm btn-light-primary fs-6" data-bs-toggle="tooltip"
                                                data-bs-placement="top" data-bs-trigger="hover"
                                                title="Kích vào thêm mới tổ chức" (click)="openModalToChucVP()">
                                                <i class="fa fa-plus"></i> Tổ chức vi phạm </button>
                                            <button class="btn btn-sm btn-light-info fs-6" data-bs-toggle="tooltip"
                                                data-bs-placement="top" data-bs-trigger="hover"
                                                title="Kích vào thêm mới người chứng kiến"
                                                (click)="openModalChungKien()">
                                                <i class="fa fa-plus"></i> Người chứng kiến </button>
                                            <button class="btn btn-sm btn-light-dark fs-6" data-bs-toggle="tooltip"
                                                data-bs-placement="top" data-bs-trigger="hover"
                                                title="Kích vào thêm mới người phiên dịch"
                                                (click)="openModalPhienDich()">
                                                <i class="fa fa-plus"></i> Người phiên dịch </button>
                                            <button class="btn btn-sm btn-light-danger fs-6" data-bs-toggle="tooltip"
                                                data-bs-placement="top" data-bs-trigger="hover"
                                                title="Kích vào thêm mới tang vật" (click)="openModalTangVat()">
                                                <i class="fa fa-plus"></i> Tang vật </button>
                                            <button class="btn btn-sm btn-light-warning fs-6"
                                                (click)="openModalPhuongTien()" data-bs-toggle="tooltip"
                                                data-bs-placement="top" data-bs-trigger="hover"
                                                title="Kích vào thêm mới phương tiện">
                                                <i class="fa fa-plus"></i> Phương tiện </button>
                                            <button class="btn btn-sm btn-light-link fs-6"
                                                (click)="openModalGiayPhepChungChi()" data-bs-toggle="tooltip"
                                                data-bs-placement="top" data-bs-trigger="hover"
                                                title="Kích vào thêm mới phương tiện">
                                                <i class="fa fa-plus"></i> Giấy phép, chứng chỉ </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 mb-5" *ngIf="totalNguoiVP>0">
                                        <div class="d-flex align-items-center bg-light-success">
                                            <span class="bullet bullet-vertical h-40px bg-success"></span>
                                            <div class="form-check form-check-custom form-check-solid mx-3"><span
                                                    class="badge badge-light-danger fs-3">{{totalNguoiVP |
                                                    ntsnumber}}</span>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="text-gray-800 text-hover-success fw-bolder fs-6">
                                                    Người vi phạm </span>
                                            </div>
                                            <div data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-trigger="hover" title="Kích vào thêm mới người vi phạm"
                                                class="card-toolbar">
                                                <button type="button" class="btn btn-sm btn-light-success"
                                                    (click)="openModalNguoiViPham()">
                                                    <i class="fa fa-plus"></i> Thêm </button>
                                            </div>
                                        </div>
                                        <ejs-grid #grNguoiVP id='grNguoiVP' [dataSource]='model.listNguoiVP'
                                            [allowSorting]='true' allowTextWrap='true'
                                            [contextMenuItems]='contextMenuItems'
                                            (contextMenuClick)='contextMenuClick_NguoiVP($event)'>
                                            <e-columns>
                                                <e-column field="Index" [allowSorting]="false"
                                                    headerText="{{'SharedLabel.STT' | translate}}" textAlign='center'
                                                    width=60></e-column>
                                                <e-column field="HoVaTen" headerText="Họ và tên" textAlign='left'
                                                    width=180></e-column>
                                                <e-column field="TenGioiTinh" headerText="Giới tính" textAlign='left'
                                                    width=120></e-column>
                                                <e-column field="NgaySinh" headerText="Ngày sinh" textAlign="left"
                                                    width="120">
                                                    <ng-template #template let-data>
                                                        {{ data.ngaySinh | date: 'dd/MM/yyyy' }}
                                                    </ng-template>
                                                </e-column>
                                                <e-column field="TenQuocTich" headerText="Quốc tịch" textAlign='left'
                                                    width=120></e-column>
                                                <e-column field="DiaChiHienNayDayDu" headerText="Nơi ở hiện tại"
                                                    textAlign='left' width="*"></e-column>
                                                <e-column field="Cmnd" headerText="Số ĐDCN/ CCCD/ Hộ chiếu"
                                                    textAlign='center' width=130></e-column>
                                                <e-column field="NoiCap" headerText="Nơi cấp" textAlign='center'
                                                    width=100></e-column>
                                                <e-column field="NgayCap" headerText="Ngày cấp" textAlign="left"
                                                    width="120">
                                                    <ng-template #template let-data>
                                                        {{ data.ngayCap | date: 'dd/MM/yyyy' }}
                                                    </ng-template>
                                                </e-column>
                                            </e-columns>
                                        </ejs-grid>
                                    </div>

                                    <div class="col-sm-12 mb-5" *ngIf="totalToChucVP>0">
                                        <div class="d-flex align-items-center bg-light-primary">
                                            <span class="bullet bullet-vertical h-40px bg-primary"></span>
                                            <div class="form-check form-check-custom form-check-solid mx-3"><span
                                                    class="badge badge-light-danger fs-3">{{totalToChucVP |
                                                    ntsnumber}}</span></div>
                                            <div class="flex-grow-1">
                                                <span class="text-gray-800 text-hover-info fw-bolder fs-6">
                                                    Tổ chức vi phạm </span>
                                            </div>
                                            <div data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-trigger="hover" title="Kích vào thêm mới tổ chức"
                                                class="card-toolbar">
                                                <button class="btn btn-sm btn-light-primary"
                                                    (click)="openModalToChucVP()">
                                                    <i class="fa fa-plus"></i> Thêm </button>
                                            </div>
                                        </div>
                                        <ejs-grid #grToChucVP id='grToChucVP' [dataSource]='model.listToChucVP'
                                            [allowSorting]='true' allowTextWrap='true'
                                            [contextMenuItems]='contextMenuItems'
                                            (contextMenuClick)='contextMenuClick_ToChucVP($event)'>
                                            <e-columns>
                                                <e-column field="Index" [allowSorting]="false"
                                                    headerText="{{'SharedLabel.STT' | translate}}" textAlign='center'
                                                    width=60></e-column>
                                                <e-column field="Ten" headerText="Tên tổ chức" width=180></e-column>
                                                <e-column field="DiaChiTruSo" headerText="Địa chỉ trụ sở chính"
                                                    textAlign='left' width="*"></e-column>
                                                <e-column field="MaSoDoanhNghiep" headerText="Mã số doanh nghiệp"
                                                    textAlign='left' width=150></e-column>
                                                <e-column field="SoDKKD" headerText="Số đăng ký kinh doanh/ hoạt động"
                                                    width=180></e-column>
                                                <e-column field="NoiCapDKKD" headerText="Nơi cấp" width=100></e-column>
                                                <e-column field="NgayCapDKKD" headerText="Ngày cấp" textAlign="left"
                                                    width="120">
                                                    <ng-template #template let-data>
                                                        {{ data.thoiGianTiepNhan | date: 'dd/MM/yyyy' }}
                                                    </ng-template>
                                                </e-column>
                                                <e-column field="hoTenPhapNhan" headerText="Người đại diện pháp luật"
                                                    textAlign='left' width=180></e-column>
                                                <e-column field="TenGioiTinh" headerText="Giới tính" textAlign='left'
                                                    width=120></e-column>
                                                <e-column field="ChucVu" headerText="Chức danh" textAlign='left'
                                                    width=120></e-column>
                                            </e-columns>
                                        </ejs-grid>
                                    </div>

                                    <div class="col-sm-12 mb-5" *ngIf="totalChungKien>0">
                                        <div class="d-flex align-items-center bg-light-info">
                                            <span class="bullet bullet-vertical h-40px bg-info"></span>
                                            <div class="form-check form-check-custom form-check-solid mx-3"><span
                                                    class="badge badge-light-danger fs-3">{{totalChungKien |
                                                    ntsnumber}}</span></div>
                                            <div class="flex-grow-1">
                                                <span class="text-gray-800 text-hover-info fw-bolder fs-6">
                                                    Người chứng kiến </span>
                                            </div>
                                            <div data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-trigger="hover" title="Kích vào thêm mới người chứng kiến"
                                                class="card-toolbar">
                                                <button (click)="openModalChungKien()"
                                                    class="btn btn-sm btn-light-info">
                                                    <i class="fa fa-plus"></i> Thêm </button>
                                            </div>
                                        </div>
                                        <ejs-grid #grChungKien id='grChungKien' [dataSource]='model.listChungKien'
                                            [allowSorting]='true' allowTextWrap='true'
                                            [contextMenuItems]='contextMenuItems'
                                            (contextMenuClick)='contextMenuClick_ChungKien($event)'>
                                            <e-columns>
                                                <e-column field="Index" [allowSorting]="false"
                                                    headerText="{{'SharedLabel.STT' | translate}}" textAlign='center'
                                                    width=60></e-column>
                                                <e-column field="HoVaTen" headerText="Họ và tên" textAlign='left'
                                                    width=180></e-column>
                                                <e-column field="TenGioiTinh" headerText="Giới tính" textAlign='left'
                                                    width=110></e-column>
                                                <e-column field="NgheNghiep" headerText="Nghề nghiệp (Chức vụ)"
                                                    textAlign='left' width=180></e-column>
                                                <e-column field="DiaChi" headerText="Địa chỉ (Cơ quan)" textAlign='left'
                                                    width="*"></e-column>
                                            </e-columns>
                                        </ejs-grid>
                                    </div>

                                    <div class="col-sm-12 mb-5" *ngIf="totalPhienDich>0">
                                        <div class="d-flex align-items-center bg-light-dark">
                                            <span class="bullet bullet-vertical h-40px bg-dark"></span>
                                            <div class="form-check form-check-custom form-check-solid mx-3"><span
                                                    class="badge badge-light-danger fs-3">{{totalPhienDich |
                                                    ntsnumber}}</span></div>
                                            <div class="flex-grow-1">
                                                <span class="text-gray-800 text-hover-info fw-bolder fs-6">
                                                    Người phiên dịch </span>
                                            </div>
                                            <div data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-trigger="hover" title="Kích vào thêm mới người phiên dịch"
                                                class="card-toolbar">
                                                <button (click)="openModalPhienDich()"
                                                    class="btn btn-sm btn-light-dark">
                                                    <i class="fa fa-plus"></i> Thêm </button>
                                            </div>
                                        </div>
                                        <ejs-grid #grPhienDich id='grPhienDich' [dataSource]='model.listPhienDich'
                                            [allowSorting]='true' allowTextWrap='true'
                                            [contextMenuItems]='contextMenuItems'
                                            (contextMenuClick)='contextMenuClick_PhienDich($event)'>
                                            <e-columns>
                                                <e-column field="Index" [allowSorting]="false"
                                                    headerText="{{'SharedLabel.STT' | translate}}" textAlign='center'
                                                    width=60></e-column>
                                                <e-column field="HoVaTen" headerText="Họ và tên" textAlign='left'
                                                    width=180></e-column>
                                                <e-column field="TenGioiTinh" headerText="Giới tính" textAlign='left'
                                                    width=100></e-column>
                                                <e-column field="NgheNghiep" headerText="Nghề nghiệp" textAlign='left'
                                                    width=180></e-column>
                                                <e-column field="DiaChi" headerText="Địa chỉ" textAlign='left'
                                                    width="*"></e-column>
                                            </e-columns>
                                        </ejs-grid>
                                    </div>

                                    <div class="col-sm-12 mb-5" *ngIf="totalTangVat>0">
                                        <div class="d-flex align-items-center bg-light-danger">
                                            <span class="bullet bullet-vertical h-40px bg-danger"></span>
                                            <div class="form-check form-check-custom form-check-solid mx-3"><span
                                                    class="badge badge-light-danger fs-3">{{totalTangVat |
                                                    ntsnumber}}</span>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="text-gray-800 text-hover-warning fw-bolder fs-6">
                                                    Tang vật tạm giữ </span>
                                            </div>
                                            <div data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-trigger="hover" title="Kích vào thêm mới tang vật"
                                                class="card-toolbar">
                                                <button (click)="openModalTangVat()"
                                                    class="btn btn-sm btn-light-danger">
                                                    <i class="fa fa-plus"></i> Thêm </button>
                                            </div>
                                        </div>
                                        <ejs-grid #grTangVat id='grTangVat' [dataSource]='model.listTangVat'
                                            [allowSorting]='true' allowTextWrap='true'
                                            [contextMenuItems]='contextMenuItems'
                                            (contextMenuClick)='contextMenuClick_TangVat($event)'>
                                            <e-columns>
                                                <e-column field="Index" [allowSorting]="false"
                                                    headerText="{{'SharedLabel.STT' | translate}}" textAlign='center'
                                                    width=60></e-column>
                                                <e-column field="TenLoaiTangVat" headerText="Tên tang vật"
                                                    textAlign='left' width=180></e-column>
                                                <e-column field="SoLuong" headerText="Số lượng" textAlign='left'
                                                    width=100></e-column>
                                                <e-column field="TenDonViTinh" headerText="Đơn vị tính" textAlign='left'
                                                    width=180></e-column>
                                                <e-column field="ChungLoai" headerText="Chủng loại" textAlign='left'
                                                    width=250></e-column>
                                                <e-column field="TinhTrangDacDiem" headerText="Tình trạng, đặc điểm"
                                                    textAlign='left' width="*"></e-column>
                                            </e-columns>
                                        </ejs-grid>
                                    </div>

                                    <div class="col-sm-12 mb-5" *ngIf="totalPhuongTien>0">
                                        <div class="d-flex align-items-center bg-light-warning">
                                            <span class="bullet bullet-vertical h-40px bg-warning"></span>
                                            <div class="form-check form-check-custom form-check-solid mx-3"><span
                                                    class="badge badge-light-danger fs-3">{{totalPhuongTien |
                                                    ntsnumber}}</span></div>
                                            <div class="flex-grow-1">
                                                <span class="text-gray-800 text-hover-warning fw-bolder fs-6">
                                                    Phương tiện tạm giữ </span>
                                            </div>
                                            <div data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-trigger="hover" title="Kích vào thêm mới phương tiện"
                                                class="card-toolbar">
                                                <a (click)="openModalPhuongTien()" class="btn btn-sm btn-light-warning">
                                                    <i class="fa fa-plus"></i> Thêm </a>
                                            </div>
                                        </div>
                                        <ejs-grid #grPhuongTien id='grPhuongTien' [dataSource]='model.listPhuongTien'
                                            [allowSorting]='true' allowTextWrap='true'
                                            [contextMenuItems]='contextMenuItems'
                                            (contextMenuClick)='contextMenuClick_PhuongTien($event)'>
                                            <e-columns>
                                                <e-column field="Index" [allowSorting]="false"
                                                    headerText="{{'SharedLabel.STT' | translate}}" textAlign='center'
                                                    width=60></e-column>
                                                <e-column field="TenLoaiPhuongTien" headerText="Tên tang vật"
                                                    textAlign='left' width=180></e-column>
                                                <e-column field="BienSo" headerText="Biển số" textAlign='left'
                                                    width=100></e-column>
                                                <e-column field="NhanHieu" headerText="Nhãn hiệu" textAlign='left'
                                                    width=180></e-column>
                                                <e-column field="XuatXu" headerText="Xuất xứ" textAlign='left'
                                                    width=250></e-column>
                                                <e-column field="TinhTrangDacDiem" headerText="Tình trạng, đặc điểm"
                                                    textAlign='left' width="*"></e-column>
                                            </e-columns>
                                        </ejs-grid>
                                    </div>

                                    <div class="col-sm-12 mb-5" *ngIf="totalGiayPhepChungChi>0">
                                        <div class="d-flex align-items-center bg-light-link">
                                            <span class="bullet bullet-vertical h-40px bg-link"></span>
                                            <div class="form-check form-check-custom form-check-solid mx-3"><span
                                                    class="badge badge-light-danger fs-3">{{totalGiayPhepChungChi |
                                                    ntsnumber}}</span></div>
                                            <div class="flex-grow-1">
                                                <span class="text-gray-800 text-hover-link fw-bolder fs-6">
                                                    Giấy phép, chứng chỉ hành nghề </span>
                                            </div>
                                            <div data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-trigger="hover" title="Kích vào thêm mới phương tiện"
                                                class="card-toolbar">
                                                <a (click)="openModalGiayPhepChungChi()"
                                                    class="btn btn-sm btn-light-link">
                                                    <i class="fa fa-plus"></i> Thêm </a>
                                            </div>
                                        </div>
                                        <ejs-grid #grGiayPhepChungChi id='grGiayPhepChungChi'
                                            [dataSource]='model.listGiayPhepChungChi' [allowSorting]='true'
                                            allowTextWrap='true' [contextMenuItems]='contextMenuItems'
                                            (contextMenuClick)='contextMenuClick_GiayPhepChungChi($event)'>
                                            <e-columns>
                                                <e-column field="Index" [allowSorting]="false"
                                                    headerText="{{'SharedLabel.STT' | translate}}" textAlign='center'
                                                    width=60></e-column>
                                                <e-column field="Ten" headerText="Tên giấy phép chứng chỉ hành nghề"
                                                    textAlign='left' width=300></e-column>
                                                <e-column field="SoLuong" headerText="Số lượng" textAlign='left'
                                                    width=100></e-column>
                                                <e-column field="TinhTrangDacDiem" headerText="Tình trạng, đặc điểm"
                                                    textAlign='left' width="*"></e-column>
                                            </e-columns>
                                        </ejs-grid>
                                    </div>

                                    <div class="col-sm-6">
                                        <label class="form-label">Phân loại <span
                                                class='text-danger text-strong'>&nbsp;*</span></label>
                                        <ejs-dropdownlist id="nguonTin" [(value)]="model.phanLoai"
                                            [dataSource]="listPhanLoai" [fields]="fields" [showClearButton]="true"
                                            [allowFiltering]="false" required>
                                        </ejs-dropdownlist>
                                    </div>

                                    <div class="col-sm-6">
                                        <label class="form-label">Lĩnh vực thống kê báo cáo <span
                                                class='text-danger text-strong'>&nbsp;*</span></label>
                                        <ejs-dropdownlist id="linhVucBCTH" [(value)]="model.idLinhVucBCTH"
                                            [dataSource]="listLinhVucBCTH" [fields]="fields" [showClearButton]="true"
                                            [allowFiltering]="false" required>
                                        </ejs-dropdownlist>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </ng-template>
                </e-tabitem>
                <e-tabitem *ngIf="id">
                    <ng-template #headerText>
                        <div><i class="fas fa-check-circle"></i> Biên bản&nbsp;
                            <span class="badge badge-light-danger">{{model.tongBienBan | ntsnumber}}</span>
                        </div>
                    </ng-template>
                    <ng-template #content>
                        <div><app-bien-ban-list #tabBienBan [id]="id" (changeTotal)="changeTotal_BienBan($event)" />
                        </div>
                    </ng-template>
                </e-tabitem>
                <e-tabitem *ngIf="id">
                    <ng-template #headerText>
                        <div><i class="fas fa-check-circle"></i> Kiểm tra, xác minh </div>
                    </ng-template>
                    <ng-template #content>
                        <app-xac-minh-modify #tabKiemTraXacMinh [id]="id" />
                    </ng-template>
                </e-tabitem>
                <e-tabitem *ngIf="id">
                    <ng-template #headerText>
                        <div><i class="fas fa-file-invoice-dollar"></i> Quyết định&nbsp;
                            <span class="badge badge-light-danger">{{model.tongQuyetDinh | ntsnumber}}</span>
                        </div>
                    </ng-template>
                    <ng-template #content>
                        <div><app-quyet-dinh-list #tabQuyetDinh [id]="id"
                                (changeTotal)="changeTotal_QuyetDinh($event)" /></div>
                    </ng-template>
                </e-tabitem>
                <e-tabitem>
                    <ng-template #headerText>
                        <div><i class="fas fa-paperclip"></i> Tài liệu vụ việc&nbsp;
                            <span class="badge badge-light-danger">{{model.tongTaiLieu | ntsnumber}}</span>
                        </div>
                    </ng-template>
                    <ng-template #content>
                        <div><app-tai-lieu-list #tabTaiLieu [id]="id" (changeTotal)="changeTotal_TaiLieu($event)" />
                        </div>
                    </ng-template>
                </e-tabitem>
                <e-tabitem *ngIf="id">
                    <ng-template #headerText>
                        <div><i class="fas fa-gavel"></i> Xử lý vụ việc </div>
                    </ng-template>
                    <ng-template #content>
                        <div><app-xu-ly-modify #tabXuLy [id]="id" (changeTotal)="changeTotal_QuyetDinh($event)" /></div>
                    </ng-template>
                </e-tabitem>
            </e-tabitems>
        </ejs-tab>
    </div>

    <div class="card-footer d-flex justify-content-between align-items-center py-5 px-5">
        <div class="align-items-start flex-column">
            <span class="card-label fw-bolder text-gray-600 fs-3" *ngIf="model.maHoSo">Mã hồ sơ: <b
                    class="text-danger">{{model.maHoSo}}</b></span>
        </div>
        <div class="flex-column align-items-end">
            <ng-container *ngIf="!id">
                <button type="button" *appUipermission="['F0102']" class="btn btn-success me-2" (click)="save(true)">
                    <i class="far fa-save"></i>&nbsp; Lưu và tiếp tục xử lý
                </button>
            </ng-container>
            <ng-container *ngIf="tabIndex===0 || tabIndex===2 || tabIndex===5">
                <button type="button" *appUipermission="['F0101']" class="btn btn-primary me-2" (click)="save()">
                    <i class="fas fa-save"></i>&nbsp; Lưu
                </button>
            </ng-container>
            <ng-container>
                <button type="button" *appUipermission="['F0101']" class="btn btn-secondary me-2" (click)="close()">
                    <i class="far fa-times-circle"></i>&nbsp; Thoát
                </button>
            </ng-container>
        </div>
    </div>
</div>