app-change-password {
    .change-pass {
        z-index: 1;
        display: block;
        opacity: 1;
        transition: 0.3s ease-in-out;
        color: #39424e;
        text-align: center;
        padding: 50px 75px 0px 75px;
        //padding-bottom: 25px;

        .footer {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 32px;
        }

        .input-group {
            // align-items: center;
            margin: 30px 0;

            .form-control {
                color: #839cb0 !important;
            }

            i {
                color: #39424e;
                position: absolute;
                top: 20px;

                &.icon-first {
                    left: 20px;
                    line-height: 15px;
                    font-size: 24px;
                }

                &.icon-last {
                    right: 15px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .title {
            text-transform: uppercase;
            font-weight: 600;
            color: #eb3b00;
            //margin: 40px;
            margin: 10px;
        }
    }
}