app-quyet-dinh-list {
}
.e-datepicker-input {
    padding: 0.375rem 0.75rem; /* Điều chỉnh padding giống form-control */
    font-size: 1rem; /* Kích thước font giống form-control */
    border-radius: 0.2rem; /* Bo góc */
    border: 1px solid #ced4da; /* Viền giống form-control */
  }