<div class="modal-content rounded-4 shadow">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Tải tài liệu lên</h1>
        <button type="button" class="btn-close" (click)="close(false)"></button>
    </div>
    <div class="modal-body padding-15">
        <form name="form" #f="ngForm">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h4 class="mb-3 text-danger text-center">HÃY CHỌN VÀ TẢI TÀI LIỆU LÊN</h4>
                    <form class="needs-validation" novalidate="">
                        <div class="row g-3">
                            <!-- <div class="col-sm-12">
                                <label class="form-label">Tên tài liệu</label>
                                <input name="so" type="text" class="form-control" [(ngModel)]="model.so"
                                    autocomplete="off">
                            </div> -->

                            <div class="col-sm-12">
                                <label class="form-label">Thu mục <span class='text-danger text-strong'>&nbsp;*</span></label>
                                <ejs-dropdownlist id="idCategory" [(value)]="model.idCategory"
                                    [dataSource]="listDanhMuc" [fields]="fields"
                                    [showClearButton]="true" [allowFiltering]="false">
                                </ejs-dropdownlist>
                            </div>
                            <div class="col-sm-12">
                                <ngx-file-drag-drop [formControl]="fileControl" activeBorderColor="#3F51B5"
                                    [multiple]="true" (valueChanged)="onValueChange($event)" emptyPlaceholder="Kéo thả tệp hoặc nhấp để chọn">
                                </ngx-file-drag-drop>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <ng-container>
            <button type="button" *appUipermission="['F0111','F0112']" class="btn btn-success"
                [disabled]="!f.form.valid" (click)="save()">
                <i class="fa-solid fa-arrow-up-from-bracket"></i>&nbsp;
                <span>Tải lên</span>
            </button>
        </ng-container>
        <button type="button" class="btn btn-danger" (click)="close(false)">
            <i class="fa fa-power-off"></i> &nbsp;
            <span translate="SharedLabel.Close"></span>
        </button>
    </div>
</div>