app-menu-manage{
    .page-content {
        display: flex !important;
        //padding-top: 10px !important;
        //margin-top: 15px;
    }
    // Start css menu left

    .content-search-left .dx-treelist-rowsview .dx-selection.dx-row > td {
        background-color: inherit;
    }
    .search-left-title {
        background: white;
        padding: 0 5px;
        border: 1px solid #e6e3e3;
    }

    .search-left {
        width: 280px;
        //height: 500px;
        float: left;
        max-width: 280px;
        min-width: 280px;
        margin-right: 10px;
        background: #fff;
        // padding: 0 10px;
    }
    .body-right {
        width: 100%;
        overflow-x: hidden;
        //background-color: #ffffff;
    }

    .e-headertext {
        color: black;
        text-align: center;
    }
    // End css menu left

    .item-update {
        border: none;
        text-align: center;
        color: rgb(255, 145, 0);
        background: none;
      }
      
      .item-delete {
        border: none;
        text-align: center;
        color: red;
        font-size: 16px;
        background: none;
      }
      
      .item-add {
        border: none;
        text-align: center;
        color: green;
        background: none;
      }
      
      .icon-success {
        color: #46be8a;
        font-size: 14px;
      }
      
      .icon-warning {
        color: #fdb45d;
        font-size: 14px;
      }
      
      .icon-danger {
        color: #ef5350;
        font-size: 14px;
      }
}
